{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Tests"
    navname: "Tests"
    created: 2011-03-24
%}

{% block content_md %}

For the Cast tests we use a custom written test runner ([Whiskey][1]) which runs
every test file in a separate process.

Test files are located in the `tests` directory and are logically grouped in
files where each test is exported as a named function.

Currently we have two types of tests:

* simple tests (`tests/simple/`) - this tests are mostly a combination of simple
functional and integration tests
* integration tests (`tests/integration/`) - this tests perform assertions on the
actual running Cast agent and client

### Writing tests

When writing a test please make a function name as descriptive as possible (long
name is not problematic in this case).

Note that the test function names are an exception and use underscore separated
notation because this allows better for a better readability.

Also try to keep test functions short and create a separate test for each scenario
and aspect of the function / module you are testing.

For example, if you writing a test for a `mkdir` function which gets passed in
a base path, directory name and directory permissions and creates a directory,
create a separate test for each of the following scenarios:

* directory creation is successful (no permissions are passed in, default argument
value is used)
* directory creation is successful (permissions are passed in)
* directory creation failed (no permission to create a directory)
* directory creation failed (invalid base path is provided)
* directory creation failed (empty string is a provided for a directory name)
* directory creation failed (invalid permissions are provided)

### setUp and tearDown functions

Our test runner also supports `setUp` and `tearDown` functions. `setUp` function
is ran before the tests and `tearDown` function is ran after all the tests have
completed.

`setUp` function is usually used to perform some kind of setup and
`tearDown` is usually used to perform some kind of post-test cleanup.

Keep in mind that in most cases you won't need to use those two functions,
because we already use a global init function (`tests/init.js`), which deletes
and re-creates `.tests` directory before every test file is run.

### Test function example

Here is an example test taken from the hooks test file (`test/simple/hooks.js`):

{% syntax javascript %}
exports['test_success'] = function() {
  var callback = function(err, killed, stdout, stderr) {
    assert.ifError(err);
    assert.ok(!killed);

    assert.equal('test hook success stdout', stdout);
    assert.equal('test hook success stderr', stderr);
  };

  var hook_file = 'hook_success.js';
  var base_hook = new hooks.Hook('pre', hook_file,
                                  path.join(hooks_path, hook_file),
                                  false);
  var instance_hook = new hooks.InstanceHook('pre', hook_file,
                                             instance_version_path);
  base_hook.execute(null, [], callback);
  instance_hook.execute(null, [], callback);
};
{% endsyntax %}

### Running the tests

To run all the tests, issue the following command in the Cast root folder:<br /><br />

{% syntax console %}
scons test
{% endsyntax %}

If all the tests pass, you should see an output similar to the one bellow:<br /><br />

{% syntax console %}
scons: done reading SConscript files.
scons: Building targets ...
NODE_PATH=/data/buildslave/cast-nodejs-v0.4-ubuntu9.10_x86_64/build/lib
  test_remotes                                                               [OK]
util-templates.js
  test_getTemplateContext_with_various_arguments                             [OK]
  test_renderTemplateAsString_with_various_arguments                         [OK]
  test_render_and_save_templates                                             [OK]
http-bundles.js
  test_http_bundles                                                          [OK]
--------------------------------------------------------------------------------
Ran 5 tests in 5.465s

Successes: 5
Failures: 0
Timeouts: 0

PASSED
{% endsyntax %}

If you don't want to run all the tests, you can pass a comma separated list of
relative paths to the tests files to scons test target: <br /><br />

{% syntax console %}
scons test tests="tests/simple/util-version.js tests/simple/util-templates.js"
{% endsyntax %}

This will run all the tests in file `tests/simple/util-version.js` and
`tests/simple/util-templates.js`.

[1]: https://github.com/cloudkick/whiskey 
{% endblock %}
