{% extends "skeleton/_root.html" %}

{% block all %}

<ul class="breadcrumbs">
	{% for node in page.node.ancestors %}
		<li>
			<a href="{{node.listing_url}}">{{node.name|unslugify}}</a>

			{% if not forloop.last%}
				{% block breadcrumb_seperator %}
				<span class="separator">&raquo;</span>
				{% endblock %}
			{% endif %}
		</li>
	{% endfor %}
  {% if page.name != "index.html" %}
    <li>
      <span class="separator">&raquo;</span>
      <a href="{{page.url}}">{{page.page_name|unslugify}}</a>
    </li>
  {% endif %}
</ul>
    
{% endblock %}
