{% extends "skeleton/_root.html" %}

{% block all %}

{% for page in node.pages %}
    {% ifnotequal page node.listing_page %}
        <h2><a href="{{page.url}}">
        {% with page.name_without_extension|remove_date_prefix|unslugify as default_title %}
        {{page.title|default_if_none:default_title }}
        {% endwith %}
        </a></h2>
        <span class="post-date">{{ page.created|date:"D d M Y"}}</span>


        {% render_excerpt page %}
    {% endifnotequal %}
{% endfor %}

{% endblock %}
