{% extends "skeleton/_root.html" %}

{% block all %}

<div id="sitenav">
    <ul>
        <li{% ifequal page.url "/" %} class="selected" {% endifequal %}>
            <a href="{{site.listing_url}}">Home</a>
        </li>

        <li{% ifequal page.page_name "about" %} class="selected" {% endifequal %}>
            <a href="/about/">About</a>
        </li>

        <li{% ifequal page.page_name "start" %} class="selected" {% endifequal %}>
            <a href="/start/">Get Started</a>
        </li>

        <li{% ifequal page.module.name "docs" %} class="selected" {% endifequal %}>
            <a href="/docs/">Documentation</a>
        </li>

        <li{% ifequal page.module.name "developer-information" %} class="selected" {% endifequal %}>
            <a href="/developer-information/">Developers</a>
        </li>

        <li{% ifequal page.page_name "downloads" %} class="selected" {% endifequal %}>
            <a href="/downloads/">Downloads</a>
        </li>

        <li{% ifequal page.page_name "sitemap" %} class="selected" {% endifequal %}>
            <a href="/sitemap/">Sitemap</a>
        </li>
    </ul>
</div>

{% endblock %}
