{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Developer information"
    navname: "Developer information"
    created: 2011-03-24
%}

{% block content_md %}

All the Cast development happens on [Github][] so if you
want to participate make sure you have a Github account.

### Repositories

Main Cast repository: [https://github.com/cloudkick/cast](https://github.com/cloudkick/cast
)

Website repository: [https://github.com/cloudkick/cast-site](https://github.com/cloudkick/cast-site
)

Vagrant image repository: [https://github.com/cloudkick/cast-vagrant](https://github.com/cloudkick/cast-vagrant)

### Issue Tracker

For the issue and bug tracking we leverage the Github "Issues" feature so if you
want to report a bug or an issue, please create a new issue (or add a comment to
the existing one) at the corresponding tracker: <br /><br />

Cast issue tracker: [https://github.com/cloudkick/cast/issues](https://github.com/cloudkick/cast/issues
)

Website issue tracker: [https://github.com/cloudkick/cast-site/issues](https://github.com/cloudkick/cast-site/issues
)

Vagrant image issue tracker: [https://github.com/cloudkick/cast-site/issues](https://github.com/cloudkick/cast-site/issues
)

### Continuous Integration

Cast continuous integration server powered by Buildbot can be found at
[http://buildbot.cast-project.org](http://buildbot.cast-project.org)

### Mailing list

While the main development and code reviews happen on Github we use mailing list
to discus about Cast roadmap, features and other project related things. <br /><br />


The mailing list is powered by Google groups and can be found at
[https://groups.google.com/forum/#!forum/cast-dev](https://groups.google.com/forum/#!forum/cast-dev).

### IRC

Cast IRC channel is located on [Freenode](http://freenode.net/) and it is named
[#cast-project](http://webchat.freenode.net/?channels=cast-project&uio=d4).

[Github]: http://www.github.com

{% endblock %}
