{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "About"
    navname: "About"
    created: 2011-03-24
    modified: 2011-04-06
%}

{% block content_md %}

Cast is an open-source, [Apache 2.0][] licensed framework for deploying,
upgrading and managing application and services. Think of it as your very own
flexible "platform as a service" that you can run wherever and however you
want.

The framework is API-driven which means that every functionality is exposed
though a well designed, JSON based REST API.

### What Does Cast Do?

By running the Cast agent on your server you can:

1. Upload tarballs of your application
2. Deploy (and upgrade) instances of your application
3. Run and manage your application's services

You can perform any of these activities using the Cast client, or perform them
direcly through the Cast Agent's HTTP API.

### Goals

Our goal is to build a "smart" API-driven framework which allows users to easily
deploy, manage, upgrade and automatically scale their applications and services.

We plan for Cast to:

* Allow applications to scale and configure themselves.
* Provide a language and techology agnostic service platform.
* Be easy as easy to use for huge applications on hundreds of servers as it is
  for tiny ones on one server.
* Be adapted for a wide range of applications through an open and
  community-oriented development process.

<a href="/media/images/architecture/cast_vision.png"><img class="center"
  src="/media/images/architecture/cast_vision_thumb.png" /></a>
<div class="center imgdesc">Cast vision</div>

In short, we want to provide a powerful and solid foundation which people can
use for managing their applications or for building their services on top of
it.

The services built on top of the Cast framework can range from simple web
interfaces for managing the agents to fully fledged application hosting
services such as Heroku.

### Architecture and technologies

Cast is composed of two different parts - an agent and a client.

<a href="/media/images/architecture/cast_architecture_version_preview.png">
<img class="center" src="/media/images/architecture/cast_architecture_version_preview_thumb.png" /></a>
<div class="center imgdesc">Cast architecture</div>

#### Agent

The Cast Agent runs on your server(s) and fulfills all kind of requests sent by
clients or other agents:

- request to create a new application instance
- request to destroy an existing application instance
- request to upgrade an instances
- request to stop, start or restart a service
- request to return a list of running services
- request to perform a rolling upgrade of services running on multiple servers
- etc.

#### Client

The Cast Client is usually installed on your development machine or your server
and provides a command line interface for interacting with Cast Agents.

For your convenience, the default package includes a reference client
implementation written in Node.js, but because the agent exposes all the
functionality through a JSON bases REST API this means that you can build your
own custom client or a wrapper around an existing client written in your
favorite programming language.

### Roadmap

To be announced.

[Apache 2.0]: http://www.apache.org/licenses/LICENSE-2.0.html
[Heroku]: http://www.heroku.com
[Nodejitsu]: http://nodejitsu.com

{% endblock %}
