{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Downloads"
    navname: "Downloads"
    created: 2011-04-21
    modified: 2011-07-12
%}

{% block content_md %}

Here you can find download links to the Cast tarball. In the future we also plan
to provide packages for the popular Linux distributions.

For the installation instructions, please see the
[Installation](/docs/guides/installation/) page.

### Stable Release

Cast stable release (v0.2.0) was released on **12th of July 2011** and can be
found at [http://files.cast-project.org/cast-0.2.0.tar.gz](http://files.cast-project.org/cast-0.2.0.tar.gz).

### Past And Current Releases

Bellow is a table which lists all the past and current released.

<table class="inline">
  <tr>
    <th>Version</th>
    <th>Release date</th>
    <th>Size</th>
    <th>MD5 sum</th>
    <th>Signature</th>
    <th>Download URL</th>
    <th>Changelog</th>
 </tr>
   <tr>
    <td>v0.2.0</td>
    <td>12.07.2011</td>
    <td>5.3 MB</td>
    <td><a href="http://files.cast-project.org/cast-0.2.0.tar.gz.md5sum">cast-0.2.0.tar.gz.md5sum</a></td>
    <td><a href="http://files.cast-project.org/cast-0.2.0.tar.gz.asc">cast-0.2.0.tar.gz.asc</a></td>
    <td><a href="http://files.cast-project.org/cast-0.2.0.tar.gz">cast-0.2.0.tar.gz</a></td>
    <td><a href="https://github.com/cloudkick/cast/blob/v0.2.0/CHANGES">CHANGES</a></td>
  </tr><tr>
    <td>v0.1.0 (preview)</td>
    <td>25.04.2011</td>
    <td>5.1 MB</td>
    <td><a href="http://files.cast-project.org/cast-0.1.0.tar.gz.md5sum">cast-0.1.0.tar.gz.md5sum</a></td>
    <td>/</td>
    <td><a href="http://files.cast-project.org/cast-0.1.0.tar.gz">cast-0.1.0.tar.gz</a></td>
    <td><a href="https://github.com/cloudkick/cast/blob/v0.1.0/CHANGES">CHANGES</a></td>
  </tr>
</table>
{% endblock %}
