{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Downloads"
    navname: "Downloads"
    created: 2011-04-21
    modified: 2011-04-21
%}

{% block content_md %}

Here you can find download links to the Cast tarball. In the future we also plan
to provide packages for the popular Linux distributions.

For the installation instructions, please see the
[Installation](/docs/guides/installation/) page.

### Preview release

Cast preview release was released on ** and can be found at .

MD5 sum of the release tarball is **.

### Stable release

No stable releases yet.

### Old releases

<table class="inline">
  <tr>
    <th>Version</th>
    <th>Release date</th>
    <th>MD5 sum</th>
    <th>Download URL</th>
    <th>Changelog</th>
 </tr>
   <tr>
    <td colspan="5">None</td>
  </tr>
</table>
{% endblock %}
