{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Frequently Asked Questions"
    navname: "FAQ"
    created: 2011-03-24
    modified: 2011-04-06
%}

{% block content_md %}

### Why Should I Use Cast? Is it just a Puppet Replacement?

Existing configuration management systems are a great way to, well, manage
configurations. And infrastructure.

But, at least in many cases, you treat your own code very differently than you
treat your web server, /etc/passwd, libopenssl or other infrastructure that
your application relies on. How often do you upgrade your web server compared
to how often you deploy your own code?

Even if you aren't doing "continous" deployment, maintaing a logical separation
between "platform" and "application" just makes sense. Configuration management
tools excel at managing infrastructure, but just aren't designed for the sort
of workflow most people use to manage their own code.

Cast is specifically designed for the sort of interactions you need with your
servers to facilitate a modern deployment workflow.

### What Does Cast Do?

By running the Cast agent on your server you can:

1. Upload tarballs of your application
2. Deploy (and upgrade) instances of your application
3. Run and manage your application's services

You can perform any of these activities using the Cast client, or perform them
direcly through the Cast Agent's HTTP API.

### What Platforms Does Cast Support?

Cast currently runs on almost anything "Unixy". If runit and Node.js work on
your platform, Cast probably does too. We have tested it on:

* Linux
* FreeBSD
* Mac OS X

Windows support is planned.

{% endblock %}
