{% extends "skeleton/_body.html" %}

{%hyde
    title: "Modernize your Deployment Workflow"
    created: 2011-04-12
    listing: True
%}

{% block content_body %}
<ul>
  <li>
    <a href="#">Speed</a>
    <p>Deploy or update your application in seconds</p>
  </li>
  <li>
    <a href="#">Rollbacks</a>
    <p>Roll back your application as easily as you upgraded it</p>
  </li>
  <li>
    <a href="">Security</a>
    <p>All traffic is encrypted and authenticated by default</p>
  </li>
</ul>
{%endblock%}
