{% extends "_post.html" %}
{% load webdesign %}

{% hyde
    title: Paul Querna about Cast and our journey with Node.js this Thursday at NodeConf
    created: 2011-05-03
%}

{% block article %}

{% article %}
{% excerpt %}

[Paul Querna](http://journal.paul.querna.org/), one of the Cast developers and Node contributors will be giving a talk about Cast and our journey with NodeJS on Thursday May 5th at [NodeConf](http://nodeconf.com/) in Portland, Oregon.

Come and join him if you would like to get more familiar with Cast and find out what obstacles we have encountered while developing Cast and how we handled them.

Paul will also be available for questions, suggestions and feedback after the talk.

{% endexcerpt %}
{% endarticle %}

{% endblock %}
