{% extends "_post.html" %}
{% load webdesign %}

{% hyde
    title: Paul's NodeConf slides
    created: 2011-05-06
%}

{% block article %}

{% article %}
{% excerpt %}

Paul's slides from his yesterday talk about Cast & Node.js at [NodeConf](http://nodeconf.com/)
are now online and you can view them [here](http://paul.querna.org/slides/cast-nodeconf2011.pdf).

As always, if you have any questions, suggestions or constructive criticism, please
[let us know](https://groups.google.com/forum/#!forum/cast-dev)!

{% endexcerpt %}
{% endarticle %}

{% endblock %}
