{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Coding Guidelines"
    navname: "Coding Guidelines"
    created: 2011-03-24
    listing: false
%}

{% block content_md %}

We know that different people like different styles, but we also know that the
consistency is very important and that is why we enforce strict coding style.

Some of the rules are automatically enforced by
[jslint](/developer-information/jslint/) and other are manually checked when
doing code reviews.

Cast styling guide is largely based on the [Google JavaScript styling
guide](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml),
with a few extra rules to keep common patterns consistent across all of cast.

### Documentation

* Use [JSDoc annotations](http://code.google.com/closure/compiler/docs/js-for-compiler.html#tags)


### Asynchronous Code

* Don't use Node's *Sync synchronous calls.
* Use [async](https://github.com/caolan/async) to alleviate excessive nesting
for parallel or serial operations.
* Always name callback arguments `callback`
* Always name error arguments to a callback `err`

**Example:**
{% syntax javascript %}
function onComplete(instance, callback) {
  var name;

  // These actions will be performed in series, until the last action completes
  // or callback is fired with an error
  async.series([
    // Action #1
    function(callback) {
      instance.getName(function(err, _name) {
        name = _name;
        callback(err);
      });
    },

    // Action #2 - async.apply() can be used when the function takes a callback
    // with a signature matching that of an async.series() callback. Be
    // careful, because the call to async.apply is evaluated *before* the call
    // to async.series()
    async.apply(registerInstance, instance)
  ],
  // This handler will be called after the series completes or errors out
  function(err) {
    if (!err) {
      log.info("Instance Registered: " + name);
    }
    callback(err);
  });
}
{% endsyntax %}

### Naming Conventions

JSON files and our HTTP API use lower case names with words separated by
underscores in the style commonly used in C or Python. However for all other
names we stick to the camelCase convention more widely used in Javascript. To
keep this straight we have developed the following rules:

* Attribute names that will be written to files or network streams (for example
as JSON to a file or HTTP request, HTTP POST parameters, etc) should always use
underscore separated names `like_this` and should always appear in single
quotes in the code. This means quoting names when defining an object literal,
and using index notation (that is, `foo['bar']`) when accessing or assigning
attributes. See the example below.

* For everything else, stick to Google's [naming
rules](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml?showone=Naming#Naming)
for all variable names, **except** when object attribute names are used outside
of cast

* Use dot notation when accessing object attributes, unless the attribute names
must be in quotes in accordance with the rules above.

**Note:** A good way to think about this is that we should be able to use an
automated tool to change a name everywhere it appears outside of quotes in
cast. So if changing the name you are about to use would break existing network
protocols or on-disk formats, put it in quotes. Otherwise don't.

**Good:**

{% syntax javascript %}
// This will go in an HTTP POST, so we used single quoted underscored_names
var body = querystring.stringify({
    'bundle_name': bundleName,
    'bundle_version': bundleVersion
});
request.end(body);

// This is just a normal object, so we stick to Google's naming conventions
var curInstance = new Instance('bar');
curInstance.getBundleVersion(callback);

// This is a constant, so we use Google's naming conventions here as well
var DEFAULT_SECRET = 'password';

// This will be written to a JSON file so attribute names must appear in single
// quotes and be underscore_separated
var config = {
  'secret': DEFAULT_SECRET,
  'ssl_enabled': true
};

if (config['secret'] && config['ssl_enabled']) {
  ...
}
{% endsyntax %}

**Bad:**

{% syntax javascript %}
// The 'secret' attribute should appear in single quotes, but does not
var config = {
  secret: 'password',
  'ssl_enabled': true
}

// These should use index notation so the attributes can be in quotes
if (config.secret && config.ssl_enabled) {
  ...
}
{% endsyntax %}

### Import (require) conventions

When importing (requiring) a module, always do it in the following order:

1. System modules (sys, util, path, child_process, net, http, ...)
2. External modules and dependencies (async, sprintf, ...)
3. Cast modules (util/misc, lib/deployment/instances, ..)

Each group must be separated by a blank line.

**Example:**

{% syntax javascript %}
var sys = require('sys');
var path = require('path');

var async = require('async');
var sprintf = require('sprintf').sprintf;

var config = require('util/config');
var misc = require('util/misc');
{% endsyntax %}

### Export conventions

Always export constants, variables, functions and class definitions at the end of
the file.
This allows you to logically group related exports together and quickly find out
which values are exported just by jumping to the end of the file.

**Example:**

{% syntax javascript %}
var DEFAULT_RUN_INTERVAL = 5000;
var DEFAULT_TIMEOUT = 30000;

function HealthCheck(name, interval) {
    ...
 }

function TCPCheck(name, interval) {
    HealthCheck.call(this);
}

uitl.inherits(TCPCheck, HealthCheck);


function printCheckList() {
    ...
}

... more definitions ...

exports.DEFAULT_RUN_INTERVAL = DEFAULT_RUN_INTERVAL;
exports.DEFAULT_TIMEOUT = DEFAULT_TIMEOUT;

exports.HealthCheck = HealthCheck;
exports.TCPCheck = TCPCheck;

exports.printCheckList = printCheckList;
{% endsyntax %}

### Miscellaneous

* Always put return statement on their own line, unless an actual value is
being returned.

**Good:**

{% syntax javascript %}
var onResult = function(err, result) {
  if (err) {
    console.log('Error happened!');
    return;
  }
}
{% endsyntax %}

**Bad:**

{% syntax javascript %}
var onResult = function(err, result) {
  if (err) {
    return console.log('Error happened!');
  }
}
{% endsyntax %}


{% endblock %}
