{% extends "skeleton/_body_md.html" %}

{%hyde
    title: "Coding Guidelines"
    navname: "Coding Guidelines"
    created: 2011-03-24
    listing: false
%}

{% block content_md %}

We know that different people like different styles, but we also know
that the consistency is very important and that is why we enforce
strict coding style. <br /><br />

Some of the rules are automatically enforced by jslint and other are manually
checked when doing code reviews. <br /><br />

Cast styling guide is largely based on the [Google JavaScript styling guide](http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml),
but there are some additions, exceptions and differences which are documented bellow.

### Cast Styling Guide

* Always refer to the error variable which is passed to the callback as `err`<br /><br />


**Example:**

{% syntax javascript %}
var on_result(err, result) {
  if (err) {
    console.log('Error happened!');
    return;
  }
}
{% endsyntax %}

* Always refer to the callback function as `callback`<br /><br />


**Example:**

{% syntax javascript %}
var createNewInstance = function(name, count, path, callback) {
...
}
{% endsyntax %}

* Always put return statement on a separate line<br /><br />


**Good:**

{% syntax javascript %}
var on_result(err, result) {
  if (err) {
    console.log('Error happened!');
    return;
  }
}
{% endsyntax %}

**Bad:**

{% syntax javascript %}
var on_result(err, result) {
  if (err) {
    return console.log('Error happened!');
  }
}
{% endsyntax %}

* Use dot notation when accessing instances attributes, but use dictionary 
notation when the object is used as a hash-table / dictionary<br /><br />

**Example (dot notation):**

{% syntax javascript %}
var person = new Person('foo', 'bar', '180');
var height = person.height;
{% endsyntax %}

**Example (dictionary notation):**

{% syntax javascript %}
var config = {
  'port_number': 12345
};
var port = config['port_number'];
{% endsyntax %}


* camelCase notation is used almost every where. Only exception to this rule are
constants, POST body values and the object key names in places where the object
is used as a hash-table / dictionary. In this places we use underscore-separated
notation. <br /><br />

**Example #1:**

{% syntax javascript %}
var body = querystring.stringify({
    bundle_name: bundleName,
    bundle_version: bundleVersion
});
...
request.end(body);
{% endsyntax %}

In this case, underscore-separated notation is used, because the values are sent
in the POST body.<br /><br />

**Example #2:**

{% syntax javascript %}
var COMMON_FIELDS = {
  'entry_file': {'type': 'string',
                 'required': true,
                 'description': 'Script or file which is run when starting the application'}
  }
}

var entry_file = COMMON_FIELDS['entry_file'];
{% endsyntax %}

In this case, underscore-separated notation is used because the object is used as
a dictionary.

* Use [JSDoc annotations](http://code.google.com/closure/compiler/docs/js-for-compiler.html#tags)

{% endblock %}
